#wrapper {
    display: flex;
    justify-content: center;
    transform: translateY(50px);
}

.container {
    --gridCells: 25;
    --gridDimensions: 16px;
    width: calc(var(--gridCells) * var(--gridDimensions));
    height: calc(var(--gridCells) * var(--gridDimensions));
    position: relative;
    display: grid;
    grid-template-rows: repeat(var(--gridCells), var(--gridDimensions));
    grid-template-columns: repeat(var(--gridCells), var(--gridDimensions));
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border: 'border-box';
}

.GridCell {
    background-color: grey;
}

.GridCell:hover {
    background-color: transparent;
}

.colorpicker {
    width: 50px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(5, 25px);
    grid-template-rows: repeat(5, 25px);
    grid-gap: 5px;
    grid-auto-flow: column;
    position: absolute;
    right: 12px;
    top: 86px;
}

.colorpicker:hover {
    cursor: pointer;
}

.button-box {
    position: absolute;
    top: 22px;
    left: -2px;
}
.button-box__save {
    position: absolute;
    top: 22px;
    right: -2px !important;
}

.button-box button {

    background-color: #000000;
    border: none;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 8px 2px;
    cursor: pointer;
}

.button-box__save button {

    background-color: #000000;
    border: none;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 8px 2px;
    cursor: pointer;
}

/*Yellow*/

.cell85 {
    background-color: rgb(255, 229, 0);
}

.cell86 {
    background-color: rgb(255, 229, 0);
}

.cell112 {
    background-color: rgb(255, 229, 0);
}

.cell111 {
    background-color: rgb(255, 229, 0);
}

.cell110 {
    background-color: rgb(255, 229, 0);
}

.cell109 {
    background-color: rgb(255, 229, 0);
}

.cell134 {
    background-color: rgb(255, 229, 0);
}

.cell133 {
    background-color: rgb(255, 229, 0);
}

.cell158 {
    background-color: rgb(255, 229, 0);
}

.cell183 {
    background-color: rgb(255, 229, 0);
}

.cell233 {
    background-color: rgb(255, 229, 0);
}

.cell259 {
    background-color: rgb(255, 229, 0);
}

.cell484 {
    background-color: rgb(255, 229, 0);
}

.cell509 {
    background-color: rgb(255, 229, 0);
}

.cell510 {
    background-color: rgb(255, 229, 0);
}

.cell487 {
    background-color: rgb(255, 229, 0);
}

.cell512 {
    background-color: rgb(255, 229, 0);
}

.cell513 {
    background-color: rgb(255, 229, 0);
}

/*WHITE*/

.cell308 {
    background-color: rgb(243, 253, 254);
}

.cell309 {
    background-color: rgb(243, 253, 254);
}

.cell312 {
    background-color: rgb(243, 253, 254);
}

.cell313 {
    background-color: rgb(243, 253, 254);
}

.cell314 {
    background-color: rgb(243, 253, 254);
}

.cell315 {
    background-color: rgb(243, 253, 254);
}

.cell290 {
    background-color: rgb(243, 253, 254);
}

.cell332 {
    background-color: rgb(243, 253, 254);
}

.cell333 {
    background-color: rgb(243, 253, 254);
}

.cell334 {
    background-color: rgb(243, 253, 254);
}

.cell335 {
    background-color: rgb(243, 253, 254);
}

.cell337 {
    background-color: rgb(243, 253, 254);
}

.cell357 {
    background-color: rgb(243, 253, 254);
}

.cell359 {
    background-color: rgb(243, 253, 254);
}

.cell360 {
    background-color: rgb(243, 253, 254);
}

.cell361 {
    background-color: rgb(243, 253, 254);
}

.cell362 {
    background-color: rgb(243, 253, 254);
}

.cell382 {
    background-color: rgb(243, 253, 254);
}

.cell409 {
    background-color: rgb(243, 253, 254);
}

.cell410 {
    background-color: rgb(243, 253, 254);
}

.cell411 {
    background-color: rgb(243, 253, 254);
}

.cell412 {
    background-color: rgb(243, 253, 254);
}

.cell434 {
    background-color: rgb(243, 253, 254);
}

.cell437 {
    background-color: rgb(243, 253, 254);
}

.cell459 {
    background-color: rgb(243, 253, 254);
}

.cell462 {
    background-color: rgb(243, 253, 254);
}

/*brown*/

.cell135 {
    background-color: rgb(180, 143, 128);
}

.cell136 {
    background-color: rgb(180, 143, 128);
}

.cell137 {
    background-color: rgb(180, 143, 128);
}

.cell159 {
    background-color: rgb(180, 143, 128);
}

.cell161 {
    background-color: rgb(180, 143, 128);
}

.cell184 {
    background-color: rgb(180, 143, 128);
}

.cell185 {
    background-color: rgb(180, 143, 128);
}

.cell186 {
    background-color: rgb(180, 143, 128);
}

.cell187 {
    background-color: rgb(180, 143, 128);
}

.cell188 {
    background-color: rgb(180, 143, 128);
}

.cell208 {
    background-color: rgb(180, 143, 128);
}

.cell209 {
    background-color: rgb(180, 143, 128);
}

.cell210 {
    background-color: rgb(180, 143, 128);
}

.cell211 {
    background-color: rgb(180, 143, 128);
}

.cell212 {
    background-color: rgb(180, 143, 128);
}

.cell234 {
    background-color: rgb(180, 143, 128);
}

.cell235 {
    background-color: rgb(180, 143, 128);
}

.cell260 {
    background-color: rgb(180, 143, 128);
}

.cell261 {
    background-color: rgb(180, 143, 128);
}

.cell285 {
    background-color: rgb(180, 143, 128);
}

.cell286 {
    background-color: rgb(180, 143, 128);
}

.cell310 {
    background-color: rgb(180, 143, 128);
}

.cell311 {
    background-color: rgb(180, 143, 128);
}

.cell336 {
    background-color: rgb(180, 143, 128);
}

.cell407 {
    background-color: rgb(180, 143, 128);
}

.cell240 {
    background-color: rgb(180, 143, 128);
}

/*Eyes*/

.cell160 {
    background-color: rgb(150, 187, 206);
}

.cell162 {
    background-color: rgb(150, 187, 206);
}

/*Sword*/

.cell190 {
    background-color: rgb(42, 69, 138);
}

.cell165 {
    background-color: rgb(42, 69, 138);
}

.cell140 {
    background-color: rgb(42, 69, 138);
}

.cell115 {
    background-color: rgb(42, 69, 138);
}

.cell90 {
    background-color: rgb(42, 69, 138);
}

.cell65 {
    background-color: rgb(42, 69, 138);
}

/*gloves*/

.cell215 {
    background-color: rgb(199, 197, 185);
}

.cell265 {
    background-color: rgb(199, 197, 185);
}

/*belt*/

.cell384 {
    background-color: rgb(68, 72, 82);
}

.cell385 {
    background-color: rgb(149, 146, 139);
}

.cell386 {
    background-color: rgb(68, 72, 82);
}

.cell387 {
    background-color: rgb(68, 72, 82);
}